* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: 70rem;
    height: 60rem;
    background-color: #2d2d2d;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .month {
    width: 100%;
    height: 12rem;
    background-color: #3b3b37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 2rem;
    margin: 0.5rem;
    width: calc(40.2rem / 7);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #7e7b16;
  }
  
  .events-container {
    width: 50rem;
    height: 60rem;
    background-color: #3b3b37;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  
  .events-container h1 {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
  }
  
  .events {
    width: 105%;
    height: 100%;
    overflow-y: auto;
    padding: 3rem;
    background-color: #2d2d2d;
  }
  
  .events div {
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: left;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 1024px) {
    .calendar {
      width: 60rem;
      height: 50rem;
    }
  
    .month h1 {
      font-size: 2.5rem;
    }
  
    .month p {
      font-size: 1.4rem;
    }
  
    .weekdays div {
      font-size: 1.3rem;
    }
  
    .days div {
      font-size: 1.8rem;
      width: calc(35.6rem / 7);
      height: 5rem;
    }
  
    .events-container {
      width: 40rem;
      height: 50rem;
    }
  
    .events-container h1 {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .calendar {
      width: 50rem;
      height: 45rem;
    }
  
    .month h1 {
      font-size: 2.3rem;
    }
  
    .month p {
      font-size: 1.2rem;
    }
  
    .weekdays div {
      font-size: 1.2rem;
    }
  
    .days div {
      font-size: 1.6rem;
      width: calc(29.6rem / 7);
      height: 4rem;
    }
  
    .events-container {
      width: 30rem;
      height: 45rem;
    }
  
    .events-container h1 {
      font-size: 2.3rem;
    }
  }
  
  @media (max-width: 576px) {
    .calendar {
      width: 40rem;
      height: 40rem;
    }
  
    .month h1 {
      font-size: 2rem;
    }
  
    .month p {
      font-size: 1rem;
    }
  
    .weekdays div {
      font-size: 1rem;
    }
  
    .days div {
      font-size: 1.4rem;
      width: calc(22.4rem / 7);
      height: 3.5rem;
    }
  
    .events-container {
      width: 25rem;
      height: 40rem;
    }
  
    .events-container h1 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .calendar {
      width: 30rem;
      height: 35rem;
    }
  
    .month h1 {
      font-size: 1.8rem;
    }
  
    .month p {
      font-size: 1rem;
    }
  
    .weekdays div {
      font-size: 1rem;
    }
  
    .days div {
      font-size: 1.2rem;
      width: calc(17.6rem / 7);
      height: 3rem;
    }
  
    .events-container {
      width: 20rem;
      height: 35rem;
    }
  
    .events-container h1 {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 360px) {
    .calendar {
      width: 25rem;
      height: 30rem;
    }
  
    .month h1 {
      font-size: 1.6rem;
    }
  
    .month p {
      font-size: 0.8rem;
    }
  
    .weekdays div {
      font-size: 0.8rem;
    }
  
    .days div {
      font-size: 1rem;
      width: calc(14.4rem / 7);
      height: 2.5rem;
    }
  
    .events-container {
      width: 16rem;
      height: 30rem;
    }
  
    .events-container h1 {
      font-size: 1.6rem;
    }
  }